
body{
    font-size: 25px;
}


table {
    text-align: center;
    border-collapse: collapse;
    width: 700px;
    height: 300px;

}
div table {
    width: 700px;
    height: 80px;
    border-color: white;
}
td{
    width: 100px;
    border: 3px solid gray;
}
th{
    width: 100px;
    border: 3px solid white;
}
h2{
    color: blue;
    font-family: sans-serif;
}