td{
    width: 80px;
    height: 80px;
}
table{
    border-top: 20px solid orange;
    border-left: 20px solid orange;
    border-right: 20px solid orange;
    border-bottom:  20px solid orange;
    border-collapse: collapse;
    background-color: orange
    
    
}
th{
    text-align: center;
}